@model IEnumerable<KoncertViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var koncert in Model)
    {
    <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@koncert.KoncertImage" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@koncert.NazwaKoncertu</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-action="TicketBook" asp-route-id="@koncert.Id" class="btn btn-primary">Kup bilety</a>

                </div>
            </div>
    </div>
    }



</div>
