@model TicketBooking.Web.ViewModels.KupBiletViewModel

<div class="row mt-2">
    <div class="col-md-4">
        <div class="row">
            <img src="@Model.KoncertImage" height="200" width="250" />
            <div>
                <h2>@Model.NazwaKoncertu</h2>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <form asp-action="TicketBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div id="seatDetailsContainer">
                @for (int i = 0; i < Model.SeatDetail.Count; i++)
                {
                    <input type="hidden" asp-for="SeatDetail[i].Id" />

                    @if (Model.SeatDetail[i].IsChecked)
                    {
                        <!-- Checkbox dla zarezerwowanego miejsca (edytowalny i checked) -->
                        <input type="checkbox" asp-for="SeatDetail[i].IsChecked" checked disabled />
                    }
                    else
                    {
                        <!-- Checkbox dla dostępnego miejsca (wyszarzony, disabled) -->
                        <input type="checkbox" asp-for="SeatDetail[i].IsChecked" />
                    }

                    @Model.SeatDetail[i].NumerMiejsca
                    <img src="~/SeatImage/@Model.SeatDetail[i].MiejsceImage" height="32" width="32" />
                }
            </div>

            <div class="form-group">
                <label asp-for="KoncertDate" class="control-label"></label>
                <input asp-for="KoncertDate" class="form-control" id="koncertDateInput" />
                <span asp-validation-for="KoncertDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#koncertDateInput").on("change", function () {
                var selectedDate = $(this).val();
                var koncertId = $("#Id").val();

                $.ajax({
                    url: '/Home/GetSeatDetailsByDate',
                    type: 'GET',
                    data: { koncertId: koncertId, koncertDate: selectedDate },
                    success: function (seatDetails) {
                        updateSeatDetails(seatDetails);
                    },
                    error: function (error) {
                        console.error("Błąd podczas aktualizacji miejsc:", error);
                    }
                });
            });
        });

        function updateSeatDetails(seatDetails) {
            var seatContainer = $("#seatDetailsContainer");
            seatContainer.empty();

            $.each(seatDetails, function (index, seatDetail) {
                var seatHtml = '<input type="hidden" name="SeatDetail[' + index + '].Id" value="' + seatDetail.id + '" />';

                if (seatDetail.isChecked) {
                    // Checkbox dla miejsca zajętego (edytowalny, checked i disabled)
                    seatHtml += '<input type="checkbox" name="SeatDetail[' + index + '].IsChecked" checked disabled />' + seatDetail.numerMiejsca;
                } else {
                    // Checkbox dla miejsca dostępnego (wyszarzony, disabled)
                    seatHtml += '<input type="checkbox" name="SeatDetail[' + index + '].IsChecked" />' + seatDetail.numerMiejsca;
                }

                seatHtml += '<img src="/SeatImage/' + seatDetail.miejsceImage + '" height="32" width="32" />';
                seatContainer.append(seatHtml);
            });
        }
    </script>
}
