@model TicketBooking.Web.ViewModels.BookingViewModel

<div class="row mt-5">
    <div class="col-md-4">
        <div class="row">
            <img src="@Model.KoncertImage" height="170" width="250" />
        </div>

        <div>
            <h2>@Model.NazwaKoncertu</h2>
        </div>
    </div>

    <div class="col-md-8">
        <form asp-action="TicketBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.SiedzenieDetail.Count; i++)
            {
                <input type="hidden" asp-for="SiedzenieDetail[@i].Id" />

                @if (Model.SiedzenieDetail[i].IsChecked)
                {
                    <input type="hidden" asp-for="SiedzenieDetail[@i].IsChecked" readonly />
                    <img src="~/SeatImage/@Model.SiedzenieDetail[i].MiejsceImage" height="32" width="32" />
                }
                else
                {
                    <input type="hidden" asp-for="SiedzenieDetail[@i].IsChecked" readonly />
                    <img src="~/SeatImage/@Model.SiedzenieDetail[i].MiejsceImage" height="32" width="32" />
                }
            }

            <div class="form-group">
                <label asp-for="NazwaKoncertu" class="control-label"></label>
                <input asp-for="NazwaKoncertu" class="form-control" />
                <span asp-validation-for="NazwaKoncertu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="KoncertDate" class="control-label"></label>
                <input asp-for="KoncertDate" class="form-control" />
                <span asp-validation-for="KoncertDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
