@model TicketBooking.Web.ViewModels.KoncertVM.KoncertViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz nowy koncert</h1>

<h4>KoncertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="NazwaKoncertu" class="control-label"></label>
                <input asp-for="NazwaKoncertu" class="form-control" />
                <span asp-validation-for="NazwaKoncertu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wykonawca" class="control-label"></label>
                <input asp-for="Wykonawca" class="form-control" />
                <span asp-validation-for="Wykonawca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaksymalnaIloscSiedzen" class="control-label"></label>
                <input asp-for="MaksymalnaIloscSiedzen" class="form-control" />
                <span asp-validation-for="MaksymalnaIloscSiedzen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoncertImage" class="control-label"></label>
                <input asp-for="KoncertImage" type="file" class="form-control" />
                <span asp-validation-for="KoncertImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
